.button {
  min-width: 17rem;
  max-width: 18rem;
  font-weight: 300;
  line-height: 1.75rem;
  text-align: center;
  padding: 0.5rem 2.6875rem;
  border: none;
  border-radius: 0.875rem;
  font-weight: bolder;
  font-size: 1.5rem;
}

.button:hover {
  background-color: rgb(183, 176, 176);
}
